/.vscode
/2019pyq.c
/a.c
/a.exe
/check.c
/game.ipynb
/gameoflife.ipynb
/gameoflife1,py
/generation_0.jpeg
/generation_1.jpeg
/generation_10.jpeg
/generation_100.jpeg
/generation_101.jpeg
/generation_102.jpeg
/generation_11.jpeg
/generation_12.jpeg
/generation_13.jpeg
/generation_14.jpeg
/generation_15.jpeg
/generation_16.jpeg
/generation_17.jpeg
/generation_18.jpeg
/generation_19.jpeg
/generation_2.jpeg
/generation_20.jpeg
/generation_21.jpeg
/generation_22.jpeg
/generation_23.jpeg
/generation_24.jpeg
/generation_25.jpeg
/generation_26.jpeg
/generation_27.jpeg
/generation_28.jpeg
/generation_29.jpeg
/generation_3.jpeg
/generation_30.jpeg
/generation_31.jpeg
/generation_32.jpeg
/generation_33.jpeg
/generation_34.jpeg
/generation_35.jpeg
/generation_36.jpeg
/generation_37.jpeg
/generation_38.jpeg
/generation_39.jpeg
/generation_4.jpeg
/generation_40.jpeg
/generation_41.jpeg
/generation_42.jpeg
/generation_43.jpeg
/generation_44.jpeg
/generation_45.jpeg
/generation_46.jpeg
/generation_47.jpeg
/generation_48.jpeg
/generation_49.jpeg
/generation_5.jpeg
/generation_50.jpeg
/generation_51.jpeg
/generation_52.jpeg
/generation_53.jpeg
/generation_54.jpeg
/generation_55.jpeg
/generation_56.jpeg
/generation_57.jpeg
/generation_58.jpeg
/generation_59.jpeg
/generation_6.jpeg
/generation_60.jpeg
/generation_61.jpeg
/generation_62.jpeg
/generation_63.jpeg
/generation_64.jpeg
/generation_65.jpeg
/generation_66.jpeg
/generation_67.jpeg
/generation_68.jpeg
/generation_69.jpeg
/generation_7.jpeg
/generation_70.jpeg
/generation_71.jpeg
/generation_72.jpeg
/generation_73.jpeg
/generation_74.jpeg
/generation_75.jpeg
/generation_76.jpeg
/generation_77.jpeg
/generation_78.jpeg
/generation_79.jpeg
/generation_8.jpeg
/generation_80.jpeg
/generation_81.jpeg
/generation_82.jpeg
/generation_83.jpeg
/generation_84.jpeg
/generation_85.jpeg
/generation_86.jpeg
/generation_87.jpeg
/generation_88.jpeg
/generation_89.jpeg
/generation_9.jpeg
/generation_90.jpeg
/generation_91.jpeg
/generation_92.jpeg
/generation_93.jpeg
/generation_94.jpeg
/generation_95.jpeg
/generation_96.jpeg
/generation_97.jpeg
/generation_98.jpeg
/generation_99.jpeg
/hello.c
/lab.c
/learn_numpy.ipynb
/learn_pandas.ipynb
/problem.c
/problem2.c
/python_learn.py
/s1.exe
/search.c
/so.exe
/sorting.c
/test.c